__pycache__/
build/
artifacts/
*-win_amd64.pyd
dist/
mobile_cvt/__pycache__/
chess_cpp.egg-info/
chess_cpp.cpython-311-x86_64-linux-gnu.so
cuda-repo-wsl-ubuntu-12-4-local_12.4.0-1_amd64.deb
stockfish-ubuntu-x86-64-avx2.tar
stockfish-windows-x86-64-avx2/
stockfish/
models/
datasets/